{% extends 'layout.html' %}
{% block content %}

    <!-- ===== MAIN CONTENT ===== -->
    <div class="main-content">
        <h2>Dashboard</h2>

        <div class="btn-grid">
            <a href="{{ url_for('routes.view_employees_ui') }}">👁 View Employees</a>
            <a href="{{ url_for('routes.add_employee_ui') }}">➕ Add Employees</a>
            <a href="{{ url_for('routes.view_employees_ui') }}">✏ Update Employees</a>
            <a href="{{ url_for('routes.view_employees_ui') }}">🗑 Delete Employees</a>
        </div>
    </div>

{% endblock %}