{% extend 'layout.html' %}
{% block content %}

<div class="container py-5">
    <div class="card shadow p-4">
      <h3 class="text-center mb-4">{{ employee.name }}'s Details</h3>

      <p><strong>Employee ID:</strong> {{ employee.employee_id }}</p>
      <p><strong>Email:</strong> {{ employee.email }}</p>
      <p><strong>Department:</strong> {{ employee.department }}</p>
      <p><strong>Remark:</strong> {{ employee.remark or "No remarks yet." }}</p>

      <div class="mt-4 text-center">
        <a href="{{ routes.url_for('update_employee', emp_id=employee.id) }}" class="btn btn-warning">Update</a>
        <a href="{{ routes.url_for('delete_employee', emp_id=employee.id) }}" class="btn btn-danger">Delete</a>
        <a href="{{ routes.url_for('view_employees') }}" class="btn btn-secondary">Back to List</a>
      </div>
    </div>
</div>


{% endblock %}